
MDK-ARM/Objects/
MDK-ARM/Listings/
MDK-ARM/*.bak
MDK-ARM/*.tmp
MDK-ARM/*.crf
MDK-ARM/*.lnp
MDK-ARM/*.plg
MDK-ARM/*.uvgui.*
MDK-ARM/*.uvguix.*
MDK-ARM/__preview/
MDK-ARM/RTE/


*.hex
*.elf
*.bin
*.axf


# .mxproject
*.ioc.backup
*.ioc.prev


.DS_Store
Thumbs.db
*.log
*.tmp
*.user
